.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #f8f9fa;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

main {
  flex: 1;
  padding: 1rem;
}

.home-page {
  padding: 2rem;
  text-align: center;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

h1 {
  margin-bottom: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1); /* Optional background color for visibility */
  border-top: 1px solid #ddd; /* Optional border for separation */
  border-radius: 5px 0 0 0; /* Optional border-radius */
}

.logout-button {
  background-color: #f44336; /* Red color for logout button */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logout-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}